#media-library {
	.file-container {
		float: left;
		padding-left: 15px;
		padding-right: 0;
		margin-bottom: 15px;
		.file {
			width: 150px;
			margin: 0;
			.file-thumbnail {
				height: 100px;
				overflow: hidden;
			}
			.file-name {
				height: 60px;
			}
			&:hover {
				box-shadow: 0 0 5px rgba(0,0,0,0.25);
			}
		}
	}
}