// Override


.nav-pills > li.active {
	border-left: none;
	background: transparent;
}

.selectize-input {
	border: 1px solid $border-color;
}

.media-body {
	width: auto;
}

.pace .pace-progress {
	z-index: 99999 !important;
}