.selectize-control.loading:before {
	display: inline-block;
	font-family: 'FontAwesome'; // shortening font declaration
	font-size: inherit; // can't have font-size inherit on line above, so need to override
	text-rendering: auto; // optimizelegibility throws things off #1094
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0); // ensures no half-pixel rendering in firefox
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8);
	content: "\f110";

	position: absolute;
	z-index: 2;
	right: 40px;
	line-height: 34px;
	opacity: 0.5;
}

.selectize-dropdown-content {
	.report-item {
		padding-top: 10px;
		padding-bottom: 10px;
		.report-description {
			color: $gray-200;
		}
	}
}

.selectize-input {
	padding-right: 32px;
}