.nav-tabs {
	margin-bottom: 15px;
}

.form-control.h2 {
	font-size: 24px;
	height: auto;
	margin: 0;
}

.no-wrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.clickable {
	cursor: pointer;
}

.number-cell {
	text-align: right;
}

.table {
	.img-profile {
		$table-img-size: 36px;
		min-height: $table-img-size;
		min-width: $table-img-size;
		max-height: $table-img-size;
		max-width: $table-img-size;
		height: $table-img-size;
		width: $table-img-size;
	}
}

.document-container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.ibox {
	.ibox-title {
		.nav-pills {
			> li.active > a,
			> li.active > a:hover
			> li.active > a:focus {
				font-weight: bold;
				cursor: default;
			}
			> li > a {
				padding: 0 8px ;
				border-radius: 999px;
			}
		}
	}
}

address {
	margin: 0;
}

.align-right {
	text-align: right;
}

.b-t {
	border-top: 1px solid $border-color;
}

.b-r {
	border-right: 1px solid $border-color;
}

.b-b {
	border-bottom: 1px solid $border-color;
}

.b-l {
	border-left: 1px solid $border-color;
}

.one-line {
	height: 20px;
}

.bootstrap-switch {
	margin-right: 15px;
}

.sortable-ghost {
	background: $gray-lighter;
}

hr {
	&.cut-here {
		border-top: 3px dashed #eee;
		text-align: center;
		position: relative;
		&:before {
			position: absolute;
			content: '\f0c4';
			font-family: FontAwesome;
			display: inline-block;
			top: -15px;
			background: #fff;
			padding: 5px;
		}
	}
}

.color-circle {
	width: $line-height-base * $font-size-base;
	height: $line-height-base * $font-size-base;
	background: #DDD;
	border-radius: 9999px;
}

.settings-label {
	font-weight: bold;
}