
// Overrides
$fa-font-path: "~font-awesome/fonts" !default;
$admin-image-path: "~kickdigital-admin-theme/src/images" !default;
$input-border: #e5e6e7 !default;

$boxed-backgound: url('#{$admin-image-path}/shattered.png') !default;
$nav-profil-pattern: url('#{$admin-image-path}/header-profile.png') no-repeat !default;

$gray-lighter: #f3f3f3;

$text-color: #212529;
$body-color: #212529;