/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.8
 *
*/

// Variables, Mixins
@import "variables.scss";
@import "mixins.scss";

// INSPINIA Theme Elements
@import "typography.scss";
@import "navigation.scss";
@import "top_navigation.scss";
@import "buttons.scss";
@import "badges_labels.scss";
@import "elements.scss";
@import "sidebar.scss";
@import "base.scss";
@import "pages.scss";
@import "chat.scss";
@import "metismenu.scss";
@import "spinners.scss";

// RTL Support
@import "rtl.scss";

// INSPINIA Skins
@import "skins.scss";

// Media query style
@import "media.scss";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}

// Override button sizes
body {
  font-size: 13px;
}

.nav-tabs {
  border-bottom: none;
  margin-bottom: 0 !important;
}










